<html><head>

    <meta charset="utf-8">

    <title>用户管理</title>

    <meta name="renderer" content="webkit">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="icon" href="/favicon.ico" type="img/x-ico" />

    <link rel="stylesheet" href="/static/layui/css/layui.css">
	

</head>
<body>

    <table id="usermgr_table" lay-filter="lay_usermgr"></table>
	 <script src="/static/layui/layui.all.js" ></script>
     
     <script type="text/html" id="toolbar">
		<div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
		  <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
		  
		</div>
      </script>
      <script type="text/html" id="head_toolbar">
		<div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm" lay-event="add">增加</button>

		</div>
      </script>
      
     <script>
         var table = layui.table,layer = layui.layer,$ = layui.$;

         var m_table = table.render({
             elem:'#usermgr_table',
             height:"full-40",
             toolbar:'#head_toolbar',
             defaultToolbar:['filter'],
			url:'/admin/sys_mgr/getuser',
			method:'post',
            limit:10,
			page:true,
			cols:[[
				{field:'id',title:'ID',hide:true},
				{field:'username',title:'姓名',minWidth:80,width:'10%'},
				{field:'explan',title:'说明',minWidth:200,width:'20%'},
				{field:'ip',title:'最后登录IP',width:'10%'},
				{field:'time',title:'最后登录时间',width:'15%'},
				{field:'userkey',title:'用户唯一密钥',width:'30%'},
                {field:'',toolbar:'#toolbar'}
			]]
         });
         
         table.on('toolbar(lay_usermgr)',function(obj){

             switch(obj.event)
             {
                 case "add":
                 {
                 console.log("add");
                
                    layer.open({
                        type:2,
                        title:"添加",
                        area:['50%','400px'],
                        content:'/admin/sys_mgr/adduser'
                    });    
                 }
                 break;
                 
             };
         });
		 
		table.on('tool(lay_usermgr)',function(obj){
		
			console.log(obj.data.id);
			switch(obj.event)
			{
				 case "update":
				 {
                
                    layer.open({
                        type:2,
                        title:"编辑",
                        area:['50%','400px'],
                        content:'/admin/sys_mgr/updateuser/id/'+obj.data.id
                    });    
                 }
                 break;
                 case "delete":
                 {
                    layer.confirm('是否确定删除？',{btn:['确定','取消']},function(){
                            $.post('/admin/sys_mgr/deluser',{id:obj.data.id},function(msg){
                                layer.msg(msg.msg,function(){

                                    if(msg.code == 0)
                                    {
                                        obj.tr.remove();
                                    }
                                })
                            },'json');
                    });
                 }
                 break;
			};
		});
     </script>
	 
</body>
</html>