<html><head>

    <meta charset="utf-8">

    <title>留言管理系统</title>

    <meta name="renderer" content="webkit">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="icon" href="/favicon.ico" type="img/x-ico" />

    <link rel="stylesheet" href="/static/layui/css/layui.css">
	<link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
	<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          
          
          <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
              <cite>{$username}</cite>
            <span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
              
              <dd class="layui-this"><a lay-href="">修改密码</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a href="/login/login/quit">退出</a></dd>
            </dl>
          </li>
          </ul>
		
	</div>
	
	<div class="layui-side layui-bg-black">
		<div class="layui-logo" lay-href="">
				<span>留言管理系统</span>
		</div>
		<ul class="layui-nav layui-nav-tree" lay-filter="">
			<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
			<li class="layui-nav-item"><a class="laymy-menu" href="javascript:void(0);"  data-href="/admin/formfields/index">留言管理</a></li>
			  <li class="layui-nav-item">
				<a href="javascript:;">系统设置</a>
				<dl class="layui-nav-child">
				  <dd><a href="javascript:;"  class="laymy-menu amdin" data-href="/admin/sys_mgr/usermgr">用户管理</a></dd>
				  <dd><a href="javascript:;" class="laymy-menu" >选项2</a></dd>
				  <dd><a href="/login/login/quit">退出</a></dd>
				</dl>
			  </li>
			</ul>
	</div>
	<div class="layui-body">
		<div class="layadmin-tabsbody-item">
			<iframe class="laymy-iframe" frameborder='0' src="/admin/formfields/index"></iframe>

		</div>
	
	
	</div>
	</div>
	 <script src="/static/layui/layui.all.js" ></script>
	 
	 <script>
		var $ = layui.$;
		$(".laymy-menu").click(function(){
			var iframesrc=$(this).attr("data-href");
			
			if(iframesrc)
			{
				$(".laymy-iframe").attr("src",iframesrc);
			}
			console.log(iframesrc);
		});
		
			if("{$showorhide}" == "hide")
				{
					$('#admin').hide();
				}
		console.log("{$showorhide}");
	 </script>
</body>
</html>