<html><head>

    <meta charset="utf-8">

    <title>添加用户</title>

    <meta name="renderer" content="webkit">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="icon" href="/favicon.ico" type="img/x-ico" />

    <link rel="stylesheet" href="/static/layui/css/layui.css">
	<link rel="stylesheet" href="/static/css/adduser.css">

</head>
<body>
	
	<div class="layui-container">
	<form class="layui-form" action="">
		<input type='hidden' name='id' value='{$userid}'>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<input type="text" name="username" required disabled lay-verify="required" value="{$username}" autocomplete="off" class="layui-input">
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
		</div>
		
		<div class="layui-form-item" style="text-align:right;">
			<button  class="layui-btn" lay-submit lay-filter="lay-submit-updatepw" >保存</button>
		</div>
	</form>
	</div>
	 <script src="/static/layui/layui.all.js" ></script>
	 
	 <script>
		var form = layui.form,$ = layui.$;
		
		form.on('submit(lay-submit-updatepw)',function(data){
			console.log(data.field);
			$.post('updatepw',data.field,function(obj){
				
				layer.msg(obj.msg);
			},'json');
			
			
			return false;
		});
	 </script>
</body>
</html>