.laymy-login{
	margin-top:200px;
	
}

.layui-input{
	padding-left:20px;
}
.layui-form-item{
	margin-bottom:25px;
}
.laymy-icon{
	position: absolute;
    left: -75px;
}
.laymy-login-font{
	font-size:18px;
	margin-bottom:25px;
}
.laymy-login-blue{
	color:#5FB878;
}